.buy-me-a-tea {
	cursor: pointer;
}

#ad-unit {
	height: 95px;
}

#footer {
	max-width: 650px;
	margin: 0 auto;
	border-top: 1px solid #CCC;
	padding-top: 5px;
}

#share {
	max-width: 250px;
	margin: 0 auto;
	text-align: middle;
}

iframe[id^="twitter-widget"] {
	width: 80px !important;
}

@media (min-width: 550px) {
	#ad-unit {
		width: 550px;
		margin: 0px auto 20px auto;
	}
}

@media (max-width: 550px) {
	#ad-unit {
		display: none;
	}
}