section img {
	max-width: 300px;
	margin-right: 20px;
	display: inline-block;
	vertical-align: top;
}

section .description {
	max-width: 300px;
	display: inline-block;
}

h6 {
	color: #b6b6b6;
}

.more-details {
	display: none;
}

.changelog-btn {
	display: inline;
}

.changelog-content {
	display: none;
	position: fixed;
	width: 60%;
	height: 60%;
	left: 20%;
	top: 20%;
	background-color: #191919;
	background-color: rgba(0, 0, 0, 0.9);
	padding: 10px;
}

.buy-me-a-tea {
	cursor: pointer;
}

#footer {
	max-width: 650px;
	margin: 0 auto;
	border-top: 1px solid #CCC;
	padding-top: 5px;
}

@media (min-width: 550px) {
	.ad-banner {
		width: 550px;
		margin: 0px auto 20px auto;
	}
}

@media (max-width: 550px) {
	.ad-banner {
		display: none;
	}
}